body {
    overflow: hidden; /* Hide scrollbars */
    box-sizing: border-box;
}


.container{
    height: 100vh;
}

.isCentered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    background-color:rgba(0, 0, 0, 0.8);
    padding: 2rem;
    color: white;
    width: 25%;
    border-radius: 2rem;
}

.descdiv{
    display: flex;
}


.cityInput{
    width: 75%;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    border: none;
    outline: none;
    padding: 0.4em 1em;
}

.form button{
    outline: none;
    background: #7c7c7c2b;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
}


.desc{
    text-transform: capitalize;
}





@media only screen and (max-width: 600px) {
    .card{
        width: 50%;
    }
  }